body{
    background: linear-gradient(to bottom , rgba(25, 24, 24, 0.934),rgba(44, 39, 39, 0.513),rgb(16, 15, 15));
}


.main{
    width: 900px;
    height: 1100px;
    border: 1px solid black;
    margin: 80px 50px 50px 220px;
    background-color: black;
    ransition: 1s;
    border-radius: 10px;
    
}

.main:hover{
    box-shadow: 4px 10px 20px whitesmoke;
    transition: 1s;
}

/*HEADER*/

#head{
    width: 880px;
    height:50px ;
    background-color: yellow;
    margin: 5px 10px;
    text-align: center;
   border-radius: 5px;
}

#head>h1{
  margin: 0px ;
  padding: 5px;
  text-decoration: underline;
}






.mainT{
    width: 880px;
    height: 1000px;
    
    margin: 10px ;

}
.item1{
    color: #9f7808;
}

img{
   width: 244px;
   height: 148px;
}
.tr:hover{

    box-shadow: 3px 8px 15px whitesmoke;
    transition: 0.5s;

}